@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-BlackItalic.woff") format("woff"), url("../fonts/Roboto-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-ThinItalic.woff") format("woff"), url("../fonts/Roboto-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body.lock {
  overflow: hidden;
}

.animate-hidden {
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, opacity 0.5s ease;
  transition: transform 0.3s ease, opacity 0.5s ease;
  transition: transform 0.3s ease, opacity 0.5s ease, -webkit-transform 0.3s ease;
  opacity: 0;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
  will-change: transform;
}

.animate-hidden.not-in-view {
  opacity: 1;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.icon-menu {
  display: none;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: blue;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

svg {
  max-width: 240px;
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: scaleStart 0.5s ease-out forwards;
          animation: scaleStart 0.5s ease-out forwards;
}

foreignObject.logoBack {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 50px 50px;
      -ms-transform-origin: 50px 50px;
          transform-origin: 50px 50px;
  -webkit-animation: colorRotate 7.5s 0.5s infinite linear;
          animation: colorRotate 7.5s 0.5s infinite linear;
}

div.logoGradient {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(from 270deg, #ff4800 10%, #dfd902 35%, #20dc68, #0092f4, #da54d8 72% 75%, #ff4800 95%);
}

g.logoBlend {
  mix-blend-mode: lighten;
}

g.logoBlend > rect {
  fill: white;
}

g.logoBlend > path {
  stroke: black;
  stroke-width: 8;
  stroke-dasharray: 288.5;
  stroke-dashoffset: -288.5;
  stroke-linecap: round;
  fill: none;
  -webkit-transform-origin: 50px 50px;
      -ms-transform-origin: 50px 50px;
          transform-origin: 50px 50px;
  -webkit-animation: pathStroke 3.75s 0.5s infinite ease-in-out, pathRotate 7.5s 0.5s infinite cubic-bezier(1, 0.5, 0, 0.5);
          animation: pathStroke 3.75s 0.5s infinite ease-in-out, pathRotate 7.5s 0.5s infinite cubic-bezier(1, 0.5, 0, 0.5);
}

@-webkit-keyframes scaleStart {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }

  60% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleStart {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }

  60% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes colorRotate {
  from {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }

  to {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes colorRotate {
  from {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }

  to {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@-webkit-keyframes pathStroke {
  0% {
    stroke-dashoffset: 288.5;
  }

  40%, 70% {
    stroke-dashoffset: 577;
  }

  100% {
    stroke-dashoffset: 865.5;
  }
}

@keyframes pathStroke {
  0% {
    stroke-dashoffset: 288.5;
  }

  40%, 70% {
    stroke-dashoffset: 577;
  }

  100% {
    stroke-dashoffset: 865.5;
  }
}

@-webkit-keyframes pathRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(-540deg);
            transform: rotate(-540deg);
  }

  100% {
    -webkit-transform: rotate(-1080deg);
            transform: rotate(-1080deg);
  }
}

@keyframes pathRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(-540deg);
            transform: rotate(-540deg);
  }

  100% {
    -webkit-transform: rotate(-1080deg);
            transform: rotate(-1080deg);
  }
}

.header {
  padding: 30px 0;
}

.header__navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
}

.header__logo-link {
  text-decoration: none;
  font-size: 34px;
  font-weight: 900;
  color: #000;
  position: relative;
}

.header__logo-link::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f70c0c;
  right: -5px;
  top: -3px;
}

.header__logo-link::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2b0cf7;
  right: -12px;
  top: -3px;
}

.header__logo-link:hover,
.header__logo-link :focus {
  text-decoration: none;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav__item {
  margin: 0 10px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 14px;
  color: #000;
  position: relative;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  text-decoration: none;
}

.nav__link:hover,
.nav__link :focus {
  text-decoration: none;
}

.nav__link:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__link:hover:before {
  width: 100%;
  left: 0;
  background: #fff;
}

.header__burger {
  display: none;
}

.header__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  z-index: 9;
}

.header__overlay.active {
  display: block;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 35px;
  right: 15px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 20;
}

.header__button.active {
  position: fixed;
}

#span.active {
  background: #6c231ed2;
}

.header__button.active > span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__button.active > span::before {
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.header__button.active > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__button > span,
.header__button > span::before,
.header__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.header__button > span.active {
  background: #6c231e;
}

.header__button > span.active::before,
.header__button > span.active::after {
  background: #6c231e;
}

.header__button > span::before {
  content: "";
  top: -8px;
}

.header__button > span::after {
  content: "";
  top: 8px;
}

.nav-search {
  position: relative;
}

.nav-search__wrapper {
  position: absolute;
  top: 170%;
  right: 75%;
}

.nav-search__container {
  width: 0px;
  height: 50px;
  background: #41484a;
  text-align: center;
  line-height: 45px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px 0 5px 5px;
  position: relative;
  z-index: 100;
}

.nav-search__container::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: -10px;
  right: 0;
}

.nav-search__container.active {
  width: 250px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-search__container.active::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: -9px;
  right: 0;
  border: 5px solid transparent;
  border-right: 5px solid #41484a;
  border-bottom: 5px solid #41484a;
}

.nav-search__input.active {
  width: 95%;
  padding: 0 5px;
  -webkit-transition: all 0.5s 0.8s ease;
  -o-transition: all 0.5s 0.8s ease;
  transition: all 0.5s 0.8s ease;
}

.nav-search__input {
  border: 0px;
  border-bottom: 2px solid #fff;
  background: transparent;
  width: 0%;
  padding: 5px 0;
  outline: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 30px;
}

.nav-search__input::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
}

.nav-search__input::-moz-placeholder {
  color: #fff;
  font-size: 14px;
}

.nav-search__input:-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
}

.nav-search__input::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
}

.nav-search__input::placeholder {
  color: #fff;
  font-size: 14px;
}

.nav-search__fa {
  color: #777;
  cursor: pointer;
}

.btn-liquid {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 60px;
  border-radius: 27px;
  color: #fff;
  font: 700 14px/60px "Droid Sans", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-liquid .inner {
  position: relative;
  z-index: 2;
}

.btn-liquid canvas {
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  z-index: 1;
}

.popup {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  z-index: -1;
}

.popup.active {
  opacity: 1;
  z-index: 10;
  background-color: #00000041;
}

.popup__body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
}

.popup__content {
  background: url("/img/bg.png") no-repeat center/cover;
  color: #fff;
  max-width: 800px;
  width: 100%;
  padding: 30px;
  border-radius: 15px;
  position: relative;
  margin: 75px 45px;
}

.popup__close {
  position: absolute;
  cursor: pointer;
  font-size: 23px;
  height: 30px;
  width: 30px;
  background: url("/img/close.png") no-repeat center/cover;
  right: -40px;
  top: 0px;
  text-decoration: none;
}

.popup__close:focus,
.popup__close :hover {
  text-decoration: none;
}

.popup__title {
  font: 700 26px / 32px Roboto;
  color: #ffffff;
  margin-bottom: 25px;
  text-align: center;
}

.popup__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home {
  position: absolute;
  top: 0;
}

#ancor {
  width: 40px;
  height: 40px;
  position: fixed;
  text-align: center;
  color: #fff;
  background: #6c231ebb;
  right: 0px;
  line-height: 40px;
  bottom: 60px;
  font-size: 22px;
  z-index: 100;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  display: none;
}

#ancor:hover,
#ancor:focus {
  background: #6c231e;
}

#ancor.active {
  display: block;
}

#ancor a {
  width: 100%;
  height: 100%;
  display: block;
}

#ancor a::after {
  position: absolute;
  content: "";
  left: 40%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#ancor a i {
  color: #fff;
}

.title {
  font-size: 35px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 40px;
}

.title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 15px;
  background: crimson;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  border-radius: 15px;
}

.organization-carts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0 35px 0;
}

.organization-carts__item {
  width: calc(100% / 12 * 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 60px rgba(252, 120, 109, 0.15);
          box-shadow: 0px 0px 60px rgba(252, 120, 109, 0.15);
  border-radius: 15px;
  padding: 30px 25px 45px 25px;
  text-align: left;
  border-radius: 15px;
  margin: 15px 15px 0;
  position: relative;
}

.organization-carts__item::before {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 130px;
  height: 10px;
  bottom: 0;
  background: #c5d0f4;
  border-radius: 15px 15px 0px 0px;
}

.organization-carts__item:first-child {
  margin-left: 0;
}

.organization-carts__item:last-child {
  margin-right: 0;
}

.organization-carts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.organization-carts__title {
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #2c2d37;
  font-weight: 700;
  text-align: left;
  margin-bottom: 30px;
}

.organization-carts__price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.organization-carts__price-wrapper:last-child {
  margin-top: 25px;
}

.organization-carts__price-one {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #434343;
}

.organization-carts__span-one {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  color: #fc786d;
}

.organization-carts__span-two {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #fc786d;
}

.organization-carts__price-old {
  position: relative;
  margin-left: 10px;
}

.organization-carts__price-old::before {
  position: absolute;
  content: "";
  width: 110%;
  height: 2px;
  left: -3px;
  bottom: 13px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fc786d), to(#ff6053));
  background: -o-linear-gradient(top, #fc786d 0%, #ff6053 100%);
  background: linear-gradient(180deg, #fc786d 0%, #ff6053 100%);
  border-radius: 5px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.organization-carts__span-three {
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  color: #c0c0c0;
}

.organization-carts__span-four {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #c0c0c0;
}

.organization-carts__price-two {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #434343;
}

.organization-carts__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #434343;
  margin-top: 25px;
}

.organization-carts__first-hour {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #434343;
  margin: 20px 0 0 0;
}

.organization-carts__wrapper-button {
  max-width: 310px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fc786d), to(#ff6053));
  background: -o-linear-gradient(top, #fc786d 0%, #ff6053 100%);
  background: linear-gradient(180deg, #fc786d 0%, #ff6053 100%);
  -webkit-box-shadow: 0px 5px 15px rgba(252, 111, 100, 0.5);
          box-shadow: 0px 5px 15px rgba(252, 111, 100, 0.5);
  border-radius: 5px;
  padding: 15px 0;
  text-align: center;
  margin: 0 auto;
  margin-top: auto;
}

.organization-carts__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 0 15px;
}

.organization-carts__button:focus,
.organization-carts__button :hover {
  color: #ffffff;
  text-decoration: none;
}

.organization-carts__extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.organization-carts__extra-wrapper_left {
  max-width: 565px;
  width: 100%;
}

.organization-carts__extra-wrapper_right {
  max-width: 350px;
  width: 100%;
  position: relative;
  margin-left: 15px;
}

.organization-carts__extra-wrapper_right::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  left: -50px;
  background: #c5d0f4;
  top: 0;
}

.organization-carts__extra-title {
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: #434343;
  margin-bottom: 18px;
}

.organization-carts-tariffs {
  margin-top: 25px;
  padding: 0;
}

.organization-carts-tariffs__item {
  margin: 0 0 20px 26px;
  position: relative;
}

.organization-carts-tariffs__item::before {
  position: absolute;
  content: url("../img/check-mark.png");
  left: -26px;
  top: 0;
}

.organization-carts-tariffs__item:last-child {
  margin: 0 0 25px 26px;
}

.organization-carts-tariffs__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #434343;
  margin: 0 0 20px 0;
}

.organization-carts-tariffs__text-strong {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #434343;
  margin-bottom: 20px;
}

.organization-carts-tariffs__span {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #434343;
}

.tariff__vrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 100%;
}

.tariff-item {
  width: 25%;
  border: 1px solid #c5d0f4;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tariff-item:not(:first-child) {
  border-left: none;
}

.tariff-item__special {
  background: url("/images/page/its/special.png") no-repeat center/cover;
  position: absolute;
  top: -6px;
  right: 5px;
  width: 92px;
  height: 41px;
}

.tariff-item__header {
  background: #5576d1;
  border-bottom: 1px solid #c5d0f4;
  min-height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}

.tariff-item__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 40px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tariff-item__skills {
  border-bottom: 1px solid #c5d0f4;
  padding: 10px 15px;
  min-height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tariff-item__skill {
  border-bottom: 1px solid #c5d0f4;
  padding: 10px 15px;
  min-height: 63px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tariff-item__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  min-height: 167px;
}

.tariff-item__arrow {
  width: 40px;
  height: 40px;
  background: #c2cdf1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tariff-item__arrow img {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.tariff-item__prices-button {
  color: #fff;
  font: 500 16px / 19px Roboto;
  white-space: pre-line;
  text-transform: uppercase;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: 230px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6e62), to(#ff5648));
  background: -o-linear-gradient(top, #ff6e62 0%, #ff5648 100%);
  background: linear-gradient(180deg, #ff6e62 0%, #ff5648 100%);
  -webkit-box-shadow: 0px 5px 15px rgba(252, 111, 100, 0.6);
          box-shadow: 0px 5px 15px rgba(252, 111, 100, 0.6);
  border-radius: 5px;
}

.tariff-item__prices-button:hover,
.tariff-item__prices-button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#fc786d), to(#ff6053));
  background: -o-linear-gradient(top, #fc786d 0%, #ff6053 100%);
  background: linear-gradient(180deg, #fc786d 0%, #ff6053 100%);
  -webkit-box-shadow: 0px 5px 15px rgba(252, 111, 100, 0.5);
          box-shadow: 0px 5px 15px rgba(252, 111, 100, 0.5);
  color: #fefefe !important;
  text-decoration: none !important;
}

p.tariff-item__special-text {
  font: 500 12px / 12px roboto;
  text-align: center;
  color: #fff;
  margin: 0 0 0 0;
  padding: 5px 0 0 0;
}

p.tariff-item__title {
  font: 400 16px / 22px roboto;
  text-align: center;
  color: #fff;
  margin: 0 0 0 0;
}

span.tariff-item__title-strong {
  float: none;
  margin-left: 0;
  font: 700 17px / 24px roboto;
  display: block;
  text-transform: uppercase;
}

p.tariff-item__skills-text {
  font: 400 14px / 21px roboto;
  text-align: left;
  margin: 0 0 0 0;
  color: #434343;
}

p.tariff-item__prices-text {
  font: 500 16px / 18px roboto;
  color: #5576d1;
  margin: 0 0 13px 0;
}

span.tariff-item__prices-number {
  float: none;
  margin: 0 10px;
  font: 900 26px / 30px roboto;
  color: #5576d1;
}

.test {
  padding: 100px 0 250px;
}

.test__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #c5d0f4;
}

.test__item-header {
  background: #5576d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.test__item-header div {
  width: calc(100% / 12 * 3);
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #000;
  padding: 10px;
  border-bottom: 1px solid #c5d0f4;
  border-left: 1px solid #c5d0f4;
  text-align: center;
}

.test__item-header div:first-child {
  border-left: none;
}

.test__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.test__wrapper:first-child {
  border-left: none;
}

.test__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.test__item-content div {
  width: calc(100% / 12 * 3);
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #000;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #c5d0f4;
  border-left: 1px solid #c5d0f4;
}

.test__item-content div:first-child {
  border-left: none;
}

.test__item-content div:not(:first-child) {
  text-align: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all-modal__popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.all-modal__popup.open {
  opacity: 1;
  visibility: visible;
}

.all-modal__popup.open .all-modal__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.all-modal__wrapper {
  width: 100%;
  height: auto;
  padding: 30px;
}

.all-modal__body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

.all-modal__content {
  background-color: #fff;
  max-width: 650px;
  padding: 30px;
}

.all-modal__close {
  margin: 0 !important;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  padding: 0;
  background: transparent;
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  opacity: 0.3;
  position: absolute;
  top: 15px;
  right: 20px;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

a.feedback__link {
  max-width: 300px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  text-decoration: none;
}

a.feedback__link:last-child {
  margin-bottom: 0;
}

a.feedback__link:hover .feedback__social,
a.feedback__link:focus .feedback__social {
  background: #ed7d71;
}

a.feedback__link:hover p.feedback__text,
a.feedback__link:focus p.feedback__text {
  color: #fff;
}

.feedback__social {
  border: 1px solid #ed7d71;
  border-radius: 5px;
  background-color: white;
  position: relative;
  padding: 10px 0;
}

.feedback__link_viber .feedback__social::before {
  position: absolute;
  content: "";
  background-image: url(../../../images/article/all-modal/viber-ico.png);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  left: -25px;
  top: -2px;
}

.feedback__link_call .feedback__social::before {
  position: absolute;
  content: "";
  background-image: url(../../../images/article/all-modal/call-back-ico.png);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  left: -25px;
  top: -2px;
}

.feedback__link_chat .feedback__social::before {
  position: absolute;
  content: "";
  background-image: url(../../../images/article/all-modal/chat-ico.png);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  left: -25px;
  top: -2px;
}

p.feedback__text {
  margin: 0 0 0 0;
  font: 400 18px / 26px roboto;
  color: #ed7d71;
}

.accordion {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1020px;
  margin: 0 auto;
  width: 100%;
}

.accordion__link-wrapper {
  list-style: none;
  width: 50%;
}

.accordion__link {
  padding: 15px;
  background: #f9f9f9;
}

.accordion__link a {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
}

.accordion__link.uk-active {
  background: #e6efff;
}

.accordion__link.uk-active a {
  font-weight: 500;
}

.accordion__content-wrapper {
  list-style: none;
  width: 50%;
  padding: 15px;
  max-height: 310px;
  overflow-y: auto;
}

.accordion__text {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
}

.accordion__text-title {
  font-weight: 500;
}

.accordion__strong {
  font-weight: 500;
}

.accordion__content {
  display: none;
}

.accordion__content.uk-active {
  display: block;
}

.image {
  padding: 200px 0 100px;
  width: 100%;
}

.image__body {
  gap: 15px;
}

.image__card {
  color: #000;
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.3%;
          flex: 0 0 49.3%;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.image__card > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.image__card:hover .image__overlay {
  opacity: 1;
  z-index: 1;
}

.image__card:hover img {
  z-index: -1;
}

.image__card:hover:nth-child(2) .image__overlay {
  opacity: 0;
}

.image__card:hover:nth-child(2) img {
  z-index: 1;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.image__pik-body {
  position: relative;
}

.image__overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 129, 130, 0.9)), to(rgba(239, 217, 137, 0.9)));
  background: -o-linear-gradient(top, rgba(232, 129, 130, 0.9) 0%, rgba(239, 217, 137, 0.9) 100%);
  background: linear-gradient(180deg, rgba(232, 129, 130, 0.9) 0%, rgba(239, 217, 137, 0.9) 100%);
}

.image__wrapper {
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  position: relative;
  --ratio: 4/3;
  aspect-ratio: var(--ratio);
}

.image__wrapper img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image__content {
  border-bottom: 1px solid rgba(51, 51, 51, 0.349);
  border-left: 1px solid rgba(51, 51, 51, 0.349);
  border-right: 1px solid rgba(51, 51, 51, 0.349);
  padding: 15px 10px;
}

.image__content h3 {
  margin-bottom: 10px;
}

.body-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-test {
  height: 100vh;
  width: 100%;
  background: chartreuse;
  position: relative;
}

.footer-test {
  height: 150px;
  background: chocolate;
}

.circle {
  height: 750px;
  width: 750px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
}

#circle {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

#canvas-image-blending {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.form-wrapper {
  background: #e5e5e5;
  color: #313131;
  padding: 150px 0;
}

.card {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 14px;
  padding: 35px 40px 30px;
  max-width: 480px;
  margin: 0 auto;
}

.card__body {
  width: 100%;
  overflow: hidden;
}

.card__prev {
  font-weight: 600;
  font-size: 12px;
  line-height: 90%;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.card__prev.disable {
  color: #d0d0d0;
}

.card__prev.disable .card__arrow {
  fill: #d0d0d0;
}

.card__arrow {
  width: 18px;
  height: 20px;
  fill: #313131;
  margin-right: 3px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.card__progres-number {
  position: relative;
  margin-right: 80px;
}

.card__progres-number::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background: #313131;
  left: 18px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.card__progress-bar {
  font-size: 16px;
  line-height: 90%;
  margin-bottom: 15px;
}

.card__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

.form__body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700%;
}

.form__body {
  width: 14.28%;
  -webkit-transition: margin-left 0.3s ease-in-out;
  -o-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
}

.form__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.form__radio-btn {
  position: relative;
}

.form__radio-btn:not(:last-child) {
  margin-bottom: 25px;
}

.form__radio-btn input[type="radio"] {
  left: 0px;
  bottom: 29%;
  opacity: 0;
  position: absolute;
  z-index: 999;
  width: 1px;
  height: 1px;
}

.form__input {
  background: #fafafa;
  border: 1px solid #d0d0d0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 14px;
  height: 55px;
  padding: 10px 25px;
  color: #313131;
  font-size: 15px;
  line-height: 90%;
}

.form__input:not(:first-child) {
  margin-top: 35px;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__input::-moz-placeholder {
  color: #999;
}

.form__input:-ms-input-placeholder {
  color: #999;
}

.form__input::-ms-input-placeholder {
  color: #999;
}

.form__input::placeholder {
  color: #999;
}

.form__text {
  padding-left: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 125%;
}

.form__circle {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #313131;
  border-radius: 50%;
}

.form__button-next {
  background: #039ae2;
  border-radius: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px auto 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 55px;
  color: #fff;
  cursor: pointer;
}

.form__button-next.hidden {
  display: none;
}

input[type="radio"]:checked + .form__circle {
  border: 1px solid #039ae2;
}

input[type="radio"]:checked + .form__circle::after {
  position: absolute;
  content: "";
  background: #039ae2;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

label.error {
  margin-top: 5px;
  color: red;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

@media screen and (min-width: 768px) {
  .image__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}

@media screen and (max-width: 995px) {
  .organization-carts__extra-wrapper_right::before {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .organization-carts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .organization-carts__item:first-child {
    margin-left: 0;
  }

  .organization-carts__item:last-child {
    margin-right: 0;
  }

  .organization-carts__item {
    max-width: 470px;
    margin: 15px 0 0;
  }

  .organization-carts__item:nth-child(2n) {
    margin-left: 15px;
  }
}

@media screen and (max-width: 992px) and (max-width: 576px) {
  .organization-carts__item:nth-child(2n) {
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo-link.active {
    position: fixed;
    z-index: 100;
    top: 28px;
    left: 10px;
  }

  .nav__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .nav__item {
    margin: 0 0 15px 0;
  }

  .nav__link {
    font-size: 22px;
  }

  .nav__link:before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .nav__link:hover:before {
    width: 100%;
    left: 0;
    background: #fff;
  }

  .header__burger {
    display: block;
  }

  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    z-index: 10;
    padding: 40px 0;
    list-style: none;
    background: #6c231ed2;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }

  .menu.active {
    visibility: visible;
    left: 0;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }

  .nav-search__wrapper {
    right: 0;
    left: 45%;
  }

  .nav-search__container {
    border-radius: 0px 5px 5px 5px;
  }

  .nav-search__container.active::before {
    left: 0%;
    border-left: 5px solid #41484a;
    border-bottom: 5px solid #41484a;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
  }

  .nav-search__fa {
    margin: 0 10px;
    font-size: 18px;
  }

  .popup__content {
    margin: 75px 10px;
  }

  .popup__close {
    right: 10px;
    top: 10px;
  }

  .organization-carts__item {
    width: 100%;
    margin: 10px 0;
  }

  .organization-carts__extra {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .organization-carts__extra-wrapper_right {
    margin: 30px 0 0 0;
  }

  .image__card {
    margin: 0 auto;
  }

  .image__card:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) and (max-width: 576px) {
  .menu {
    width: 100%;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .menu.active {
    padding: 95px 30px 0 30px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
}

@media screen and (max-width: 576px) {
  .header__button > span.active {
    background: #000;
  }

  .header__button > span.active::before,
  .header__button > span.active::after {
    background: #000;
  }

  .nav-search__wrapper {
    top: 190%;
    right: 50%;
    left: -280%;
  }

  .nav-search__container {
    width: 250px;
    height: 0;
    border-radius: 5px;
  }

  .nav-search__container.active::before {
    left: 50%;
    top: -38%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    border: 10px solid transparent;
    border-bottom: 10px solid #41484a;
  }

  .nav-search__container.active {
    height: 50px;
  }

  a.feedback__link {
    max-width: 230px;
  }
}

.webp .popup__content { background: url(/img/bg.webp) no-repeat center/cover; }

.webp .popup__close { background: url(/img/close.webp) no-repeat center/cover; }

.webp .tariff-item__special { background: url(/images/page/its/special.webp) no-repeat center/cover; }

.webp .feedback__link_viber .feedback__social::before { background-image: url(../../../images/article/all-modal/viber-ico.webp); }

.webp .feedback__link_call .feedback__social::before { background-image: url(../../../images/article/all-modal/call-back-ico.webp); }

.webp .feedback__link_chat .feedback__social::before { background-image: url(../../../images/article/all-modal/chat-ico.webp); }