.preloader {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background: #fff;
   z-index: 1001;
}

.preloader__row {
   position: relative;
   top: 50%;
   left: 50%;
   width: 70px;
   height: 70px;
   margin-top: -35px;
   margin-left: -35px;
   text-align: center;
   animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
   position: absolute;
   display: inline-block;
   top: 0;
   background-color: blue;
   border-radius: 100%;
   width: 35px;
   height: 35px;
   animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
   top: auto;
   bottom: 0;
   animation-delay: -1s;
}

@keyframes preloader-rotate {
   100% {
      transform: rotate(360deg);
   }
}

@keyframes preloader-bounce {
   0%,
   100% {
      transform: scale(0);
   }

   50% {
      transform: scale(1);
   }
}

.loaded_hiding .preloader {
   transition: 0.3s opacity;
   opacity: 0;
}

.loaded .preloader {
   display: none;
}


// loader gradient
svg {
   max-width: 240px;
   transform-origin: bottom;
   animation: scaleStart 0.5s ease-out forwards;
}

foreignObject.logoBack {
   transform: rotate(270deg);
   transform-origin: 50px 50px;
   animation: colorRotate 7.5s 0.5s infinite linear;
}

div.logoGradient {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background: conic-gradient(from 270deg, #ff4800 10%, #dfd902 35%, #20dc68, #0092f4, #da54d8 72% 75%, #ff4800 95%);
}

g.logoBlend {
   mix-blend-mode: lighten;
}

g.logoBlend > rect {
   fill: white;
}

g.logoBlend > path {
   stroke: black;
   stroke-width: 8;
   stroke-dasharray: 288.5;
   stroke-dashoffset: -288.5;
   stroke-linecap: round;
   fill: none;
   transform-origin: 50px 50px;
   animation: pathStroke 3.75s 0.5s infinite ease-in-out, pathRotate 7.5s 0.5s infinite cubic-bezier(1, 0.5, 0, 0.5);
}

@keyframes scaleStart {
   0% {
      transform: scale(0.5);
   }
   60% {
      transform: scale(1.25);
      animation-timing-function: ease-in;
   }
   100% {
      transform: scale(1);
   }
}

@keyframes colorRotate {
   from {
      transform: rotate(270deg);
   }
   to {
      transform: rotate(-90deg);
   }
}

@keyframes pathStroke {
   0% {
      stroke-dashoffset: 288.5;
   }
   40%,
   70% {
      stroke-dashoffset: 577;
   }
   100% {
      stroke-dashoffset: 865.5;
   }
}

@keyframes pathRotate {
   0% {
      transform: rotate(0deg);
   }
   50% {
      transform: rotate(-540deg);
   }
   100% {
      transform: rotate(-1080deg);
   }
}
