.container {
  min-width: 320px;
  width: 100%;
  margin: 0 auto; }

.popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  position: fixed;
  visibility: hidden;
  top: -100%;
  left: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .popup.active {
    visibility: visible;
    top: 0;
    z-index: 10; }
  .popup__body {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    position: -webkit-sticky;
    position: sticky;
    width: 100%; }
  .popup__content {
    background: url("/img/bg.png") no-repeat center/cover;
    color: #fff;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    margin: 75px 45px; }
    @media screen and (max-width: 768px) {
      .popup__content {
        margin: 75px 10px; } }
  .popup__close {
    position: absolute;
    cursor: pointer;
    font-size: 23px;
    height: 30px;
    width: 30px;
    background: url("/img/close.png") no-repeat center/cover;
    right: -40px;
    top: 0px;
    text-decoration: none; }
    .popup__close:focus,
    .popup__close :hover {
      text-decoration: none; }
    @media screen and (max-width: 768px) {
      .popup__close {
        right: 10px;
        top: 10px; } }
  .popup__title {
    font: 700 26px / 32px Roboto;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center; }
  .popup__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
